/vendor/
node_modules/
npm-debug.log
yarn-error.log
/backups/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.python-version

# Virtual environment
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# Environments
.env
.venv
development/scripts/.idea/scripts.iml
development/scripts/.idea/misc.xml
/development/new_code/.idea
